.catalogue-card {
	display: block;
	width: 27.8rem;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	padding-bottom: 1.4rem;
	border-bottom: 0.1rem solid rgba(#000000, 0.1);

	@media (max-width: 48em) {
		width: 100%;
		gap: 3.2rem;
		padding-bottom: 6.8rem;
	}

	.btn_add {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;

		@media (max-width: 48em) {
			opacity: 1;
			pointer-events: all;
		}
	}

	&:hover {
		opacity: 1;

		.catalogue-card_img {
			.img-front {
				opacity: 0;
			}
			.img-back {
				opacity: 1;
			}
		}

		.btn_add {
			opacity: 1;
			pointer-events: all;
		}
	}

	&_img {
		width: 100%;
		height: 27.8rem;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		@media (max-width: 48em) {
			height: 31.2rem;
		}

		.img-back {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			opacity: 0;
			transition: opacity 0.3s;
		}

		.img-front {
			width: 20rem;
			height: 20rem;
			transition: opacity 0.3s;

			@media (max-width: 48em) {
				width: 22.446rem;
				height: 22.446rem;
			}
		}
	}

	&_info {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		font-size: 1.6rem;

		@media (max-width: 48em) {
			gap: 4rem;
			font-size: 3.2rem;
		}

		&__bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&_title {
		line-height: 112%;
		letter-spacing: 0.032rem;
		font-weight: 300;

		@media (max-width: 48em) {
			letter-spacing: 0.064rem;
		}
	}

	&_price {
		font-weight: 600;
	}
}
