.sort {
	z-index: 12;
	position: relative;
	font-size: 1.2rem;

	&_top {
		display: flex;
		align-items: center;
		gap: 0.4rem;
		font-weight: 500;
		cursor: pointer;
		letter-spacing: 0.072rem;

		span {
			width: fit-content;
		}

		svg {
			width: 1rem;
			height: 1rem;
		}

		@media (max-width: 48em) {
			font-size: 2.4rem;
			letter-spacing: 0.144rem;
			text-transform: uppercase;
			gap: 0.8rem;

			svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&_dropdown {
		background-color: #fff;
		width: 28rem;
		position: absolute;
		top: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s, visibility 0.2s, transform 0.3s;
		transform: translateY(-20%);

		@media (max-width: 48em) {
			width: 50rem;
		}

		&__item {
			padding: 1.7rem 2.4rem;
			transition: text-shadow 0.2s;
			cursor: pointer;

			@media (max-width: 48em) {
				padding: 3.4rem 4.8rem;
				font-size: 3.2rem;
			}

			&.active {
				background-color: #7bb899;
			}

			&:hover {
				text-shadow: 0 0 0 #000000;
			}
		}
	}

	&.open {
		.sort_dropdown {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}
}
