.catalogue {

	&_top {
		background-image: url('./../../assets/images/pages/catalog/catalog-bg.webp');
		background-repeat: no-repeat;
		background-size: cover;
		height: 56rem;
		margin-bottom: 7.2rem;

		@media (max-width: 48em) {
			margin-top: 3.2rem;
			margin-bottom: 4.8rem;
			background-image: none;
			height: fit-content;
		}

		.container {
			position: relative;
			padding: 0;

			@media (max-width: 48em) {
				padding: 0 4.8rem;
			}

			.breadcrumbs {
				position: absolute;
				top: 3.2rem;
				left: 0;

				@media (max-width: 48em) {
					position: static;
				}
			}
		}
	}

	&_swiper {
		padding-top: 21.7rem;
		padding-bottom: 3.9rem;
		display: flex;
		height: 56.1rem;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		.swiper-slide {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 2.4rem;
			color: #fff;

			&__title {
				font-size: 7.2rem;
				line-height: 88%;
				text-align: center;
				max-width: 140rem;
			}

			&__desc {
				font-size: 1.6rem;
				line-height: 130%;
				font-weight: 500;
				text-align: center;
				width: 47.2rem;
			}
		}

		.swiper-button-next {
			&::after {
				content: none;
			}
			width: 8rem;
			height: 8rem;
			z-index: 10;
			top: 35.6rem;
			right: 39rem;

			svg {
				width: 100%;
				height: 100%;
			}
		}

		.swiper-pagination {
			margin-top: auto;
			position: static;
			width: fit-content;
			background-color: rgba(#000000, 0.4);
			border-radius: 1.6rem;
			padding: 1.3rem 2.4rem;
			display: flex;
			gap: 0.8rem;

			.swiper-pagination-bullet {
				margin: 0;
				width: 0.6rem;
				height: 0.6rem;
				background-color: #fff;
				opacity: 0.2;

				&-active {
					opacity: 1;
				}
			}
		}
	}

	&_main {
		.container {
			display: flex;
			gap: 13.8rem;

			@media (max-width: 48em) {
				flex-direction: column;
				gap: unset;
			}
		}
	}

	&_title {
		@media (max-width: 48em) {
			font-size: 7.2rem;
			line-height: 88%;
			letter-spacing: -0.288rem;
			margin-bottom: 9.6rem;
		}
	}

	&_list {
		display: flex;
		flex-direction: column;
		gap: 4.4rem;
		text-transform: uppercase;
		font-size: 1.2rem;
		flex: 1;

		&__top {
			display: flex;
			justify-content: space-between;
		}

		&__grid {
			width: fit-content;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 3.3rem 2.4rem;

			&.empty{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2.4rem;
			}

			@media (max-width: 48em) {
				grid-template-columns: repeat(2, 1fr);
				gap: 4.8rem 3rem;
			}
		}
	}
}
