<div class="cart">
	<button class="btn_close">
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M18 6L6 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
			<path d="M6 6L18 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
	</button>
	<div class="cart_title">Корзина</div>
	<div class="cart_info">
		<div class="cart_amount">4 товара</div>
		<button class="btn_clear">очистить список</button>
	</div>
	<ul class="cart_items">
		<li class="cart_item">
			<div class="cart_item__img">
				<img src="./../assets/images/components/card-img-2.png" alt="Item" />
			</div>
			<div class="cart_item__info">
				<span class="cart_item__title">Краска Wallquest, Brownsone MS90102</span>
				<span class="cart_item__price">9600 ₽</span>
			</div>
			<div class="cart_item__amount input-number">
				<button class="btn_minus">
					<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.3335 8H12.6668" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
				<input type="number" value="2" min="1" max="999"/>
				<button class="btn_plus">
					<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 3.33325V12.6666" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M3.3335 8H12.6668" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
			</div>
			<button class="btn_remove">
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g opacity="1">
						<path d="M18 6L6 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M6 6L18 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
					</g>
				</svg>
			</button>
		</li>
        <li class="cart_item">
			<div class="cart_item__img">
				<img src="./../assets/images/components/card-img-2.png" alt="Item" />
			</div>
			<div class="cart_item__info">
				<span class="cart_item__title">Краска Wallquest, Brownsone MS90102</span>
				<span class="cart_item__price">9600 ₽</span>
			</div>
			<div class="cart_item__amount input-number">
				<button class="btn_minus">
					<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.3335 8H12.6668" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
				<input type="number" value="2" min="1" max="999"/>
				<button class="btn_plus">
					<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 3.33325V12.6666" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M3.3335 8H12.6668" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
			</div>
			<button class="btn_remove">
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g opacity="1">
						<path d="M18 6L6 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M6 6L18 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
					</g>
				</svg>
			</button>
		</li>
        <li class="cart_item">
			<div class="cart_item__img">
				<img src="./../assets/images/components/card-img-2.png" alt="Item" />
			</div>
			<div class="cart_item__info">
				<span class="cart_item__title">Краска Wallquest, Brownsone MS90102</span>
				<span class="cart_item__price">9600 ₽</span>
			</div>
			<div class="cart_item__amount input-number">
				<button class="btn_minus">
					<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.3335 8H12.6668" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
				<input type="number" value="2" min="1" max="999"/>
				<button class="btn_plus">
					<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 3.33325V12.6666" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M3.3335 8H12.6668" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
			</div>
			<button class="btn_remove">
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g opacity="1">
						<path d="M18 6L6 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M6 6L18 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
					</g>
				</svg>
			</button>
		</li>
	</ul>
    <div class="cart_footer">
        <div class="cart_total">
            <span>Итого</span>
            <span class="price">
                14 400₽
            </span>
        </div>
        <button class="btn_order">
            Оформить заказ
        </button>
    </div>
</div>
